body {
  background-color: #FF7F50; /* Naranja Kigo */
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #333; /* Texto negro */
}

header {
  background-color: #fff; /* Blanco para el encabezado */
  color: #333;
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#qrCode {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

#listaRecompensas {
  list-style: none;
  padding: 0;
}

#listaRecompensas li {
  margin-bottom: 10px;
}
