body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial, sans-serif;
}

.title-container {
  text-align: center;
  margin-top: 0px;
  position: relative; /* Necesario para establecer el contexto */
}

.title-container img {
  max-width: 40%;
}

/* Estilo para el relleno de fondo */
.title-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 0%); /* Calculamos el ancho restante */
  height: 100%;
  background-color: #F25C05; /* Color de relleno */
  z-index: -1; /* Enviamos el fondo detrás de la imagen */
}

.logo-container {
  text-align: center;
  margin-top: 20px; /* Espacio entre el contenido y el logo */
}

.logo-container img {
  max-width: 50%; /* Ancho máximo para el logo */
}

.text-container {
  text-align: center;
  margin-top: 20px; /* Espacio entre el logo y el texto */
}

.text-container p {
  color: #110A6A; /* Color del texto */
  font-size: 18px; /* Tamaño del texto */
}

.instructions-container {
  text-align: center;
  margin-top: 20px; /* Espacio entre el texto anterior y las instrucciones */
}

.instructions-container .link {
  color: #F25C05;
  text-decoration: none;
  font-size: 16px;
}

.instructions-container .link:hover {
  text-decoration: underline;
}


.button-container {
  text-align: center;
  margin-top: 20px; /* Espacio entre las instrucciones y el botón */
}

.button {
  padding: 10px 50px;
  background-color: #F25C05;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #D44A02; /* Cambiamos el color al pasar el ratón sobre el botón */
}

.link {
  color: #F25C05; /* Cambiamos el color del texto */
  text-decoration: none;
  font-size: 16px;
}

.link:hover {
  text-decoration: underline;
}


